@charset "utf-8";
.container-fluid {
    background-color: #9BAC9A !important;
    color: #9BAC9A;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(171,161,140,1.00) 0%,rgba(170,160,139,1.00) 26.94%,rgba(170,160,138,1.00) 41.97%,rgba(172,162,143,1.00) 62.18%,rgba(170,159,136,1.00) 95.34%,rgba(171,160,140,1.00) 100%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(171,161,140,1.00) 0%,rgba(170,160,139,1.00) 26.94%,rgba(170,160,138,1.00) 41.97%,rgba(172,162,143,1.00) 62.18%,rgba(170,159,136,1.00) 95.34%,rgba(171,160,140,1.00) 100%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(171,161,140,1.00) 0%,rgba(170,160,139,1.00) 26.94%,rgba(170,160,138,1.00) 41.97%,rgba(172,162,143,1.00) 62.18%,rgba(170,159,136,1.00) 95.34%,rgba(171,160,140,1.00) 100%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(171,161,140,1.00) 0%,rgba(170,160,139,1.00) 26.94%,rgba(170,160,138,1.00) 41.97%,rgba(172,162,143,1.00) 62.18%,rgba(170,159,136,1.00) 95.34%,rgba(171,160,140,1.00) 100%,rgba(255,255,255,1.00) 100%);
    color: #FFFFFF;
}
aside .container .text {
    margin: 150px;
    padding: 8px;
    width: 100%;
    color: #EFEFDD;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

aside .container img {
    float: left;
    width: 370px;
    height: 260px;
    padding-top: 0px;
    padding-right: 10px;
}
aside .container .text {
    text-align: justify;
    color: #FFFFFF;
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #FFFFFF;
    background-color: #AAA08B;
}

.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #FFFFFF;
}




.navbar-nav.mr-auto .nav-item .nav-link {
    color: #F5F5F5;
    text-shadow: 0px 0px #FFFFFF;
	display: inline-block;
}
.container-fluid .container .text-center {
    color: #FFFFF2;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-decoration: none;

}
.container-fluid .container .text-center {

}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {

}
.container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(170,160,139,1.00) 0%,rgba(170,160,139,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(170,160,139,1.00) 0%,rgba(170,160,139,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(170,160,139,1.00) 0%,rgba(170,160,139,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(170,160,139,1.00) 0%,rgba(170,160,139,1.00) 100%);

}

.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    clear: right;
    color: #FFFFFF;

}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #FFFFFF;
}

.container-fluid .container .rounded.img-fluid {
}
.container-fluid .container .rounded.img-fluid {
    clear: right;
    width: 20%;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}.column a img {
    color: #000000;
}
.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 .navbar-nav.mr-auto {
}
body p {

}
.container .navbar.navbar-expand-lg.navbar-light.bg-light {
}

.container {
    background-color: #9BAC9A;
}
.navbar-nav > li > a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
aside .container.d-flex.align-items-center .img-thumbnail {
    height: auto;
}
aside .container.d-flex.align-items-center .img-thumbnail {

}
aside .container.d-flex.align-items-center .text {
    background-color: #879683;
}
aside .container img {

}
